* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

html {
    background: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    text-align: center;
    color: #f1f1f1;
    
    
}
body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
}
h1 {
    font-size: 60px;
    font-weight: 700;
}
h3 {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.753);
    font-size: 1.15em;
}
h2 {
background-color: hsl(248, 32%, 49%);
font-size: 1em;
padding: 1em 3em;
color: #f1f1f1;
border-radius: 10px;
font-weight: 400;
box-shadow: 0rem 0.3rem 0rem rgba(0, 0, 0, 0.131);
}
.card {
    background: white;
    padding: 2rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    
}
.input-div {
    width: 100%;
    padding: 1rem;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
}
input {
    width: 100%;
    padding: 1rem;
border-color: #f1f1f1;
}

.msg {
    color: red;
}
.msg, .icon {
    display: none;
}
.para {
    color: hsl(240, 2%, 12%);
}
attribution {
    color: white;
}
.btn {
    background: hsl(154, 59%, 51%);
    color: white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
}